src/pug/checkout.pug
extends layout/layout

block content
  #main
    header.header
      a(href="").header__logo
      a(href="").header__back
    .content
      .form
        h3.form__title
          span Pay with Card
        .form-row.form-row--active
          label.form-row__label Name
          input(type="text" placeholder="Jane Doe" value="").form-row__input
        .form-row
          label.form-row__label Email
          input(type="text" placeholder="janedoe@gmail.com" value="").form-row__input
        .form-row
          label.form-row__label Phone
          input(type="tel" placeholder="janedoe@gmail.com" value="").form-row__input
        .form-row.form-row--m-large.form-row--icon
          label.form-row__label Card
          .flex-wrap
            .form-row__item.form-row__item--icon.col
              i.icon-card
              input(type="text" placeholder="Card Number" value="").form-row__input
            .form-row__item.form-row__item--small
              input(type="text" placeholder="MM/YY" value="").form-row__input
            .form-row__item.form-row__item--small
              input(type="text" placeholder="CVC" value="").form-row__input
        .form-row
          label.form-row__label Code
          input(type="tel" placeholder="Enter Offer Code" value="").form-row__input
        .form-row.form-row--submit
          a(href="").form-submit PAY $60
      h3 Fine Print
      p We probably need to write something here in order to make people feel as comfortable as possible. This should include a reminder of our 100% satisfaction guarantee. Maybe we can get a seal from someone.

checkout.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Title your site</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="main">
      <header class="header"><a class="header__logo" href=""></a><a class="header__back" href=""></a></header>
      <div class="content">
        <div class="form">
          <h3 class="form__title"><span>Pay with Card</span></h3>
          <div class="form-row form-row--active">
            <label class="form-row__label">Name</label>
            <input class="form-row__input" type="text" placeholder="Jane Doe" value="">
          </div>
          <div class="form-row">
            <label class="form-row__label">Email</label>
            <input class="form-row__input" type="text" placeholder="janedoe@gmail.com" value="">
          </div>
          <div class="form-row">
            <label class="form-row__label">Phone</label>
            <input class="form-row__input" type="tel" placeholder="janedoe@gmail.com" value="">
          </div>
          <div class="form-row form-row--m-large form-row--icon">
            <label class="form-row__label">Card</label>
            <div class="flex-wrap">
              <div class="form-row__item form-row__item--icon col"><i class="icon-card"></i>
                <input class="form-row__input" type="text" placeholder="Card Number" value="">
              </div>
              <div class="form-row__item form-row__item--small">
                <input class="form-row__input" type="text" placeholder="MM/YY" value="">
              </div>
              <div class="form-row__item form-row__item--small">
                <input class="form-row__input" type="text" placeholder="CVC" value="">
              </div>
            </div>
          </div>
          <div class="form-row">
            <label class="form-row__label">Code</label>
            <input class="form-row__input" type="tel" placeholder="Enter Offer Code" value="">
          </div>
          <div class="form-row form-row--submit"><a class="form-submit" href="">PAY $60</a></div>
        </div>
        <h3>Fine Print</h3>
        <p>We probably need to write something here in order to make people feel as comfortable as possible. This should include a reminder of our 100% satisfaction guarantee. Maybe we can get a seal from someone.</p>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
