src/pug/done.pug
extends layout/layout

block content
  #main
    header.header
      a(href="").header__logo
      a(href="").header__back
    .content.content--done
      h3 Thank you! And welcome.
      p If you have 2 more minutes now, we can complete your on-boarding. Otherwise we will email you a link where you can finish the setup process at another time.
    .btn-wrap
      a(href="").btn Start On-boarding

done.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Title your site</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="main">
      <header class="header"><a class="header__logo" href=""></a><a class="header__back" href=""></a></header>
      <div class="content content--done">
        <h3>Thank you! And welcome.</h3>
        <p>If you have 2 more minutes now, we can complete your on-boarding. Otherwise we will email you a link where you can finish the setup process at another time.</p>
      </div>
      <div class="btn-wrap"><a class="btn" href="">Start On-boarding</a></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
