src/pug/index.pug
extends layout/layout

block content
  #main.footer-btn
    header.header
      a(href="").header__logo
    .welcome-slider
      a(href="").welcome-slider__item(style="background-image: url('img/pic-1.jpg');")
        .welcome-slider__price $20/mo
      a(href="").welcome-slider__item(style="background-image: url('img/pic-1.jpg');")
        .welcome-slider__price $20/mo
      a(href="").welcome-slider__item(style="background-image: url('img/pic-1.jpg');")
        .welcome-slider__price $20/mo
    .content
      h1.h1 Starter
        br
        | Alias
      h3.info-title Our promise to you
      p We are a membership company, which means that we make a promise to our customers and keep it. 100% satisfaction guaranteed. 1/ Fully Functioning Alias Our core promise is to provide you with an identity that you can use when interacting and transacting online. Specifically, we will provide you the necessary tools – a name of your choosing, an email address, a phone number, a billing address, and a credit card number – so that you can use various online services without having to expose your personal information. You can also use your alias when filling out forms for unimportant matters.
      h3 2/ Addresses to Interact With
      p With your starter Alias, you will receive an email address, a phone number and a shipping address. You will be able to administer the email address as if it's a Gmail account. You will be able to elect to forward phone calls to your number to any number of your choosing or simply to direct calls to your voicemail. And you will have a mailing address that you can use at your discretion. We will forward you every piece of mail that we receive to your address.
      h3 3/ Billing Info to Transact With
      p With your starter Alias, you will also receive a credit card number that corresponds with your contact information. This will allow you to transact and subscribe to services with a payment method that you can turn off at any time.
    a(href="").btn-submit-prise Get your Starter Alias for
      br
      | $20/mo

index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Title your site</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="footer-btn" id="main">
      <header class="header"><a class="header__logo" href=""></a></header>
      <div class="welcome-slider"><a class="welcome-slider__item" href="" style="background-image: url('img/pic-1.jpg');">
          <div class="welcome-slider__price">$20/mo</div></a><a class="welcome-slider__item" href="" style="background-image: url('img/pic-1.jpg');">
          <div class="welcome-slider__price">$20/mo</div></a><a class="welcome-slider__item" href="" style="background-image: url('img/pic-1.jpg');">
          <div class="welcome-slider__price">$20/mo</div></a></div>
      <div class="content">
        <h1 class="h1">Starter<br>Alias</h1>
        <h3 class="info-title">Our promise to you</h3>
        <p>We are a membership company, which means that we make a promise to our customers and keep it. 100% satisfaction guaranteed. 1/ Fully Functioning Alias Our core promise is to provide you with an identity that you can use when interacting and transacting online. Specifically, we will provide you the necessary tools – a name of your choosing, an email address, a phone number, a billing address, and a credit card number – so that you can use various online services without having to expose your personal information. You can also use your alias when filling out forms for unimportant matters.</p>
        <h3>2/ Addresses to Interact With</h3>
        <p>With your starter Alias, you will receive an email address, a phone number and a shipping address. You will be able to administer the email address as if it's a Gmail account. You will be able to elect to forward phone calls to your number to any number of your choosing or simply to direct calls to your voicemail. And you will have a mailing address that you can use at your discretion. We will forward you every piece of mail that we receive to your address.</p>
        <h3>3/ Billing Info to Transact With</h3>
        <p>With your starter Alias, you will also receive a credit card number that corresponds with your contact information. This will allow you to transact and subscribe to services with a payment method that you can turn off at any time.</p>
      </div><a class="btn-submit-prise" href="">Get your Starter Alias for<br>$20/mo</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
